<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/style.css">
  <title>Área Protegida</title>
</head>

<body>
  <h1>Bem-vindo, <%= user.username %>!</h1>
  <a href="/logout">Sair</a>
</body>

</html>